{% extends "base.html" %}

{% block conteudo %}
  <div class="container">
    {% if tipo != 'inserir' %}
    <h1 class="mt-3 mb-4">Alterando uma atividade</h1>
    {% else %}
    <h1 class="mt-3 mb-4">Cadastrando uma atividade</h1>
    {% endif %}

    <form class="form">
      {% if tipo != 'inserir' %}
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" id="id" name="id" disabled>
      </div>
      {% endif %}
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">
      </div>
      <div class="form-group">
        <label for="ministante">Ministrante:</label>
        <input type="text" class="form-control" id="ministante" name="ministante">
      </div>      
      <div class="form-group">
        <label for="instituicao">Tipo:</label>
        <select class="form-control" id="instituicao" name="instituicao">
          <option value="oficina">Oficina</option>
          <option value="palestra">Palestra</option>
        </select>
      </div>
      <div class="form-group">
        <label for="vagas">Vagas:</label>
        <input type="number" class="form-control" id="vagas" name="vagas">
      </div>    
      <div class="form-group">
        <label for="local">Local:</label>
        <input type="text" class="form-control" id="local" name="local">
      </div>
      <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" class="form-control" id="data" name="data">
      </div>
      {% if tipo != 'inserir' %}
      <button type="submit" class="btn btn-success mb-2">Alterar</button>
      {% else %}
      <button type="submit" class="btn btn-success mb-2">Cadastrar</button>
      {% endif %}
    </form>
  </div>
{% endblock %}
