{% extends "base.html" %}

{% block conteudo %}
  <div class="container">
    <h1 class="mt-3 mb-4">{{ evento.nome }}</h1>
    <div class="d-flex">
      <div class="d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename=evento.logotipo) }}" width="240" height="143">
        <button class="btn btn-danger mt-4">Inscreva-se</button>
      </div>
      <div class="ml-3">
        <p>{{ evento.descricao }}</p>
        <ul>
          <li>Instituição: <span class="font-weight-bold">{{ evento.instituicao }}</span></li>
          <li>Local: <span class="font-weight-bold">{{ evento.local }}</span></li>
          <li>Data: <span class="font-weight-bold">{{ evento.data }}</span></li>
        </ul>  
      </div>
    </div>
  </div>
{% endblock %}
